/**
 TODO(you): Add CSS for the list that you create yourself!
*/

body {
	font-family: 'Garomond', sans-serif;
	font-size: 18px;
	line-height: 32px;
	color: rgb(51, 51, 51);
}

p {
	font-family: "Garomond", sans-serif;
	color: white;
}

br {
	line-height: 20px;
}

/* For details */
div.column {
	border-width: 0px;
	transform: translateZ(-2px) scale(1);
	text-align: center;
}

div.para {
	overflow-y: scroll;
	overflow-x: scroll;
	perspective-origin: top left;
	background-size: cover;
	background-position: center; 
	background-attachment: fixed;
	transform-style: preserve-3d;
	position: sticky;
}

div.titleBlock {
	background-color: black; 
	padding-bottom: 20px;
	padding-top: 20px;
}

/* For titles*/
p.title {
	font-size: 32px;
	font-weight: bold;
}

p.date {
	font-size: 20px;
	font-weight: normal;
}

p.text {
	margin-left: auto;
	margin-right: auto;
	font-size: 14px;
	width: 50%;
	background-color: rgba(51, 51, 51, 0.5);
}


/* For images */
img.image {
	
}

#titleBlock {
	display: flex;
	align-items: center; /* Center of all margins */
	height: 300px;
	font-family: 'Garomond', sans-serif;
	margin-bottom: 20px;
	border-color: black;
}

#titleText {
	margin-left: auto; /* Deals with item placement in super block */
	margin-right: auto; /* Deals with item placement in super block */
	text-align: center;
	max-width: 750px;
	font-size: 40px;
	color: white;
}

#titleAuth {
	max-width: none;
	font-size: 18px;
	background-color: unset;
}

#titleSub {
	max-width: none;
	font-size: 25px;
	background-color: unset;
}

#ladyTitle {
	background-image: url(../images/myListicleImages/bookSmart.jpg);
	background-position: right; /* Align with top of block */
	background-size: 400px;
	background-repeat: no-repeat;
}

#boyTitle {
	background-image: url(../images/myListicleImages/mask.jpg);
	background-position: left; /* Align with top of block */
	background-size: 400px;
	background-repeat: no-repeat;
}

#queenTitle {
	background-image: url(../images/myListicleImages/crown.png);
	background-position: right; /* Align with top of block */
	background-size: 400px;
	background-repeat: no-repeat;
} 

#title {
	background-image: url(../images/myListicleImages/beautiful.jpeg);
	padding-top: 20px;
}

#lady {
	background-image: url(../images/myListicleImages/background.jpg);
}

#boy {
	background-image: url(../images/myListicleImages/kind.png);
}

#queen {
	background-image: url(../images/myListicleImages/queen.jpg);
	background-position: top;
}